.home {
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}
.home__banner {
	width: 100%;
	z-index: -1;
	margin-bottom: -200px;
}
.home__products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 1;
}
